<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/images/logo_white.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Action1</a></li>
      <li><a href="#">Action2</a></li>
      <li><a href="#">Action3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" style="padding: 0 15px;">
        <a>
          Neil McLaughlin
        </a>

      </li>
    </ul>
  </div>
</nav>
