<div [hidden]="!active" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Provider</h4>
            </div>
            <div class="modal-body">
                <p>This is where we add a provider</p>
            </div>
          <dfa-alert>Add functionality is not yet implemented</dfa-alert>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deactivate()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addProvider()">Add</button>
            </div>
        </div>
    </div>
</div>
